.explore .my-masonry-grid {
  display: flex;
  width: auto;
}

.explore .my-masonry-grid_column {
  padding-right: 5px;
  background-clip: padding-box;
}

.explore .card {
  width: 100%;
  margin-bottom: 5px !important;
  border-radius: 4px !important;
  border: unset !important;
  position: relative !important;
}

.explore .card::before {
  content: "";
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border-radius: 4px;
}
.explore .card:hover.card::before {
  background: linear-gradient(
    200deg,
    rgba(14, 14, 14, 0.522),
    rgba(49, 2, 102, 0.599)
  ) !important;
}
.explore .card-img-top {
  height: auto;
  max-height: 100%;
  border-radius: 4px !important;
  overflow: hidden !important;
}
.explore .overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-31px, -7px);
  display: none !important;
}
.explore .overlay p {
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.explore .card:hover .overlay {
  display: flex !important;
}
